* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #fff;
  background-color: #fff;
  font-family: sans-serif;
}

h1 {
  width: 38%;
  margin-left: 31%;
  margin-top: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #2155CD;
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  line-height: 2;
}

h2 {
  color: #1b1b32;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  margin: 20px 0;
}

.title-app {
  width: 100%;
}

.App-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Estilo para tareas lista */
.tareas-list-main {
  width: 600px;
  min-height: 500px;
  background-color: #0AA1DD;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}

